
<div class="card-body">
  <h5 class="card-title">{{todo.name}}
    <div (click)="deleteCandidature()" class="float-right">
      <i class="material-icons text-danger">
        delete
      </i>
    </div>
  </h5>
  <h6 class="card-subtitle mb-2 text-muted">{{todo.societe}}</h6>
  <p class="card-text  text-truncate" style="max-width: 500px;max-height: 500px;">{{todo.descriptionE}}</p>
  <a class="card-link" href="{{todo.link}}" routerLinkActive="router-link-active"><i class="material-icons">link</i></a>

  <div class="float-right" (click)="changeState()"><i class="material-icons "
      [ngClass]="{'accepter': todo.done==2,'refuser':todo.done==3,'enCours':todo.done==1,'pasReponse':todo.done==0}" style="cursor: pointer;">
      lens
    </i></div>
</div>

