<form [formGroup]="todoFormGroup" (ngSubmit)="onSubmit()">
  <div class="row justify-content-center">
    <div class="card col-md-4 mt-2 mr-2">
      <div class="card-body">
        <div class="form-group">
          <label for="name">Post à Pourvoir</label>
          <input type="text" class="form-control  " formControlName="name" placeholder="Post à Pourvoir">
        </div>
        <div class="form-group">
          <label for="link">Lien</label>
          <input type="text" class="form-control " formControlName="link" placeholder="Liens">
      </div>

      <div class="form-group">
        <label for="societe">Societe</label>
        <input type="text" class="form-control col-md-6" formControlName="societe" placeholder="Société">
      </div>
       <div class="form-group" [formGroup]="AddressFormGroup">
        <label for="address">Address</label>
        <input ngx-google-places-autocomplete class="form-control" [options]='options' #placesRef="ngx-places"
          formControlName="address" (onAddressChange)="handleAddressChange($event)" />
      </div>


      <div class="form-group">
        <label for="descriptionE">description</label>
        <textarea class="form-control " formControlName="descriptionE" placeholder="Déscription"></textarea>
      </div>
      <div class="form-group">
        <label for="competence">competence</label>
        <textarea class="form-control " formControlName="competence" placeholder="Competence"></textarea>
      </div>
      <div class="form-group">
        <label for="tache">tache</label>
        <textarea class="form-control " formControlName="tache" placeholder="Tache"></textarea>
      </div>
      <div class="form-group">
        <label for="tel">tel</label>
        <input type="text" class="form-control " formControlName="tel" placeholder="Téléphone">
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="text" class="form-control " formControlName="email" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="priority">priority</label>
        <input type="number" class="form-control" formControlName="priority" placeholder="priority">
      </div>


    </div>
    </div>
  </div>

  <div class="row justify-content-center mt-3 mb-3">
    <button class="btn btn-danger mr-2"[disabled]="todoFormGroup.invalid" type="submit">
      Sauvegarder
    </button>
    <button type="button" class="btn btn-secondary mr-2" routerLink="/list" routerLinkActive=”active”>
      Retour
    </button>


  </div>
  <div>
  </div>
</form>
