<div class="container-fluid" >

  <div class="row" >
    <nav  class="navbar navbar-expand-lg navbar-light bg-light col-md-12 border-bottom">
      <a class="navbar-brand" href="#">Candidature</a>
      <a  *ngIf="isAuth" (click)="signOut()">Deconnexion</a>

    </nav>

    <div style="width: 100%;height: 25px;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" >
      <path fill="#0477c4" class="shadow-lg"  fill-opacity="1"  d="M0,160L17.1,154.7C34.3,149,69,139,103,117.3C137.1,96,171,64,206,42.7C240,21,274,11,309,32C342.9,53,377,107,411,112C445.7,117,480,75,514,64C548.6,53,583,75,617,85.3C651.4,96,686,96,720,80C754.3,64,789,32,823,48C857.1,64,891,128,926,144C960,160,994,128,1029,112C1062.9,96,1097,96,1131,122.7C1165.7,149,1200,203,1234,224C1268.6,245,1303,235,1337,213.3C1371.4,192,1406,160,1423,144L1440,128L1440,0L1422.9,0C1405.7,0,1371,0,1337,0C1302.9,0,1269,0,1234,0C1200,0,1166,0,1131,0C1097.1,0,1063,0,1029,0C994.3,0,960,0,926,0C891.4,0,857,0,823,0C788.6,0,754,0,720,0C685.7,0,651,0,617,0C582.9,0,549,0,514,0C480,0,446,0,411,0C377.1,0,343,0,309,0C274.3,0,240,0,206,0C171.4,0,137,0,103,0C68.6,0,34,0,17,0L0,0Z"></path>
    </svg>
    </div>

  </div>

  <router-outlet></router-outlet>




</div>
