<div class="row justify-content-center mt-2">
  <div class="searchBack bg-light border col-12 col-md-7  shadow-sm d-inline">
    <form [formGroup]="formGroupSearch" class="col-12 col-md-12   form-inline">
      <a class="material-icons mr-3 text-primary " (click)="changeMapState()" style="cursor: pointer;">map</a>
      <input formControlName="search" class="form-control  col-8 col-md-10 " type="search" placeholder="Recherche par Titre">
      <a routerLink="/add" class=" material-icons ml-3 ">add</a>
    </form>

  </div>
</div>
<agm-map *ngIf="mapActivate" [zoom]="12" [latitude]="48.866667"  [longitude]="2.333333"class="col-md-4 float-left mt-2" >
  <div *ngFor="let todo of todos| filtrer:this.formGroupSearch.get('search').value;let index=i">
    <agm-marker  [label]="index"  [latitude]="todo.address.lat" [longitude]="todo.address.lng">
        <agm-info-window [disableAutoPan]="true">
            {{todo.name}}<br />
            <a style="cursor:pointer;" >Voir la candidature</a>
        </agm-info-window>
    </agm-marker>
</div>
</agm-map>
<div class="row justify-content-md-center ">
  <div [ngClass]="{'d-flex' : premierClick===false ,
 'flex-wrap' : premierClick===false ,
 'justify-content-center' : premierClick===false,
 'col-md-4 ':premierClick===true ,
 'col-md-12 ':mapActivate,
'col-12':true}">

    <!--Si on veut en mettre 3 sur la mm ligne sans centrer il faudra mettre col-md-12 dans app card-->
    <ng-template [ngIf]="(mapActivate && !premierClick) || (!premierClick|| premierClick && !mapActivate) "  >
      <app-card class="card  mt-2 shadow-sm " [ngClass]="{'col-md-4' : premierClick===false ,
      'mr-md-2 ' : premierClick===false  ,
      'ml-md-2 ' : true,
      'col-md-12' : premierClick===true || mapActivate
      }" *ngFor="let todo of todos| filtrer:this.formGroupSearch.get('search').value;let i= index" (click)="initId(i)"
       [todo]="todo"></app-card>
    </ng-template>


  </div>
  <div *ngIf="showSpinner">
    <div class="row">
      <img src="../../assets/pictures/spinner.gif">
    </div>
  </div>
  <div *ngIf="premierClick" class="col-md-8  mt-2  " [ngClass]="{'col-md-8': premierClick &&!mapActivate,'col-md-12': premierClick && mapActivate,'mt-2': true}">
    <form (ngSubmit)="modificationSubmit(G,data().id)" #G="ngForm" class="col-md-12 ">
      <div class="card col-md-12  shadow-lg">
        <div class="card-body">
          <div class="float-right">
            <div (click)="fermerInfo()" class="material-icons" style="cursor: pointer;">close</div><br>
            <div (click)="modificationClick()" class="material-icons pointer" *ngIf="modification==false" style="cursor: pointer;">edit</div>
            <div (click)="modificationClick()" class="material-icons" *ngIf="modification==true" style="cursor: pointer;">check</div>
            <div (click)="deleteL(data().id)" style="cursor: pointer;">
              <i class="material-icons">
                delete
              </i>
            </div>
          </div>
          <h5 class="card-title">
            <div *ngIf="modification==true"><input name="name" class="form-control " placeholder="L'annonce"
                ngModel="{{data().name}}"></div>
            <div *ngIf="modification==false">{{data().name}}</div>
          </h5>

          <h6 class="card-subtitle mb-2 text-muted">
            <div *ngIf="modification==true"><input name="societe" class="form-control" placeholder="Société"
                ngModel="{{data().societe}}"></div>
            <div *ngIf="modification==false">{{data().societe}} / <i (click)="changeState(data().done,data().id)"
                class="material-icons "
                [ngClass]="{'accepter': data().done==2,'refuser':data().done==3,'enCours':data().done==1,'pasReponse':data().done==0,'mr-2':true}" style="cursor: pointer;">
                lens
              </i>{{getEtat(data().done)}} </div>



          </h6>

          <div class="card-text">

            <br>
            <hr>
            <h6 class="card-title">Présentation</h6>
            <div *ngIf="modification==true">
              <textarea name="description" placeholder="Description" class="form-control"
                ngModel="{{data().descriptionE}}" rows="10" cols="50"> </textarea>
            </div>
            <div *ngIf="modification==false" class="nl2br  ">
              {{data().descriptionE}}
            </div>
          </div>

          <div class="card-text">
            <br>
            <hr>
            <h6 class="card-title">Compétence</h6>
            <div *ngIf="modification==true">
              <textarea name="competence" placeholder="Compétence" class="form-control" ngModel="{{data().competence}}"
                rows="10" cols="50"> </textarea>
            </div>
            <div *ngIf="modification==false" class="nl2br">
              {{data().competence}}
            </div>
          </div>
          <div class="card-text">
            <br>
            <hr>
            <h6 class="card-title">Tache</h6>
            <div *ngIf="modification==true">
              <textarea name="tache" placeholder="Tache" class="form-control" ngModel="{{data().tache}}" rows="10"
                cols="50"> </textarea>
            </div>
            <div *ngIf="modification==false" class="nl2br">
              {{data().tache}}
            </div>
          </div>
          <br>
          <br>
          <a class="card-link mt-3" href="{{data().link}}" routerLinkActive="router-link-active">Card link</a>
          <button *ngIf="modification==true" class="btn btn-block btn-primary" type="submit">Mettre à jour</button>
        </div>
      </div>

    </form>
  </div>

</div>
