.ligneTableau:hover {
  box-shadow: 0px 0px 5px #454a4f;


}
agm-map {
  height: 300px;

}
.searchBack{
  padding: 10px;
  border-radius: 5px;

}
.nl2br {
  white-space: pre-line;
}
.fixed {
  position: fixed;


}
.btn:focus {
  outline: none;
}

.inputModif {
  width: 50%;
  display: inline-block;
}
.effect{
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease; /* Transition de type ease */
}
.effect:hover{
  transform: translatex(-5px); /* On déplace l'objet */
}



