<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="card shadow-sm card-body col-md-6">
      <h3 class="text-center">S'inscrire</h3>
      <form [formGroup]="signUpForm" (ngSubmit)="signUpSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control " formControlName="email" placeholder="Email">
          <div *ngIf="emailCtrl.touched" class="text-danger">
            <span *ngIf="emailCtrl.hasError('required')"> L' email doit être renseigné</span>
            <span *ngIf="emailCtrl.hasError('email')"> Le format de l'email est incorrect</span>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Mot de passe">
          <div *ngIf="passwordCtrl.touched" class="text-danger">
            <span *ngIf="passwordCtrl.hasError('required')"> Le mot de passe doit être renseigné</span>
          </div>
        </div>
        {{errorMessage}}

        <button type="submit" class="btn btn-success" [disabled]="signUpForm.invalid"> Créer</button>
        <button type="button" [routerLink]="['/auth/signIn']" routerLinkActive="router-link-active" class="btn btn-outline-success ml-1"> Retour</button>
      </form>
    </div>

  </div>
</div>
