
<div class="card-body">
  <h5 class="card-title">{{todo.name}}
    <div (click)="deleteCandidature()" class="float-right" style="cursor: pointer;">
      <i class="material-icons text-danger">
        delete
      </i>
    </div>
  </h5>
  <h6 class="card-subtitle mb-2 text-muted">{{todo.societe}}</h6>
  <p class="card-text " >{{todo.descriptionE}}</p>
  <a class="card-link" href="{{todo.link}}" routerLinkActive="router-link-active"><i class="material-icons">link</i></a>

  <div class="float-right" (click)="changeState()" [ngClass]="{'text-success': todo.done==2,'text-danger':todo.done==3,'text-warning':todo.done==1,'text-primary':todo.done==0}" style="cursor: pointer;">{{getEtat(todo.done)}}</div>

