/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background: rgb(223, 189, 173)}
.bgInterface{
  background:  rgb(223, 203, 173)
}
.accepter {
  color: rgb(48, 184, 80);
}

.refuser {
  color: rgb(241, 93, 108);
}
.enCours{
  color: rgb(226, 150, 7);
}
.pasReponse {
  color: rgb(92, 107, 107);
}
